# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\heroku\glacial-bastion-34585\web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
